@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'chuda';
    src: url('../fonts/momentz-webfont.woff2') format('woff2'),
         url('../fonts/momentz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: "Poppins", serif;
}

main {
    background: rgb(52, 63, 63);
    padding: 100px;
    display: flex;
    /* gap: 5px; */
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    /* visibility: hidden; */
    display: none;
}

.container2 {
    justify-content: space-between;
    height: 1000px;
    box-sizing: border-box;
    background: rgb(106, 9, 9);
    align-items: stretch;
}

.box {
    background: rgb(238, 238, 203);
    min-height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.box h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3em;
}

.box2 {
    min-height: 400px;
    align-self: flex-start;
}

.box3 {
    min-height: 200px;
}


#grid-container {
    background: rgb(50, 55, 60);
    padding: 100px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 20vh 400px;
    grid-template-areas: "pomza pomza indy"
        "adil trang indy";
    gap: 10px;
    display: none;
}

.grid-item {
    background: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item h1 {
    font-weight: 800;
    font-size: 3em;
}

.item1 {
    grid-area: pomza;
}

.item2 {
    grid-area: indy;
}

.item3 {
    grid-area: trang;
}

.item4 {
    grid-area: adil;
}

#canvas {
    background: rgb(52, 58, 58);
    padding: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    cursor: pointer;
}

#canvas h1{
    font-family: chuda;
    font-size: 24pt;
    text-align: center;
    color: white;
}

#menu-icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#menu-icon i{
    color: white;
    font-size: 20pt;
}

#canvas nav{
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
}

#canvas nav li{
    list-style: none;
    font-weight: bold;
    color: rgb(133, 220, 2);
    padding: 16px 8px;
    border-bottom: 1px rgb(179, 178, 178) solid;
    box-sizing: border-box;
}

#canvas nav li:last-child{
    border-bottom: none;
}

#canvas nav li:hover{
    color: rgb(47, 47, 47);
    background: rgb(133, 220, 2);
}

#canvas nav{
    transform: translateY(-400px);
    transition: 1s tranform cubic-bezier(.47, 1.64, .41, .8);
}

#canvas nav.active{
    transform: translateY(0px);
}
.moving-box {
    width: 100px;
    height: 100px;
    background: beige;
    /* transition: 1s all ease-in-out; */
    animation-name: kongpop-anim;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

#canvas:hover .moving-box {
    /* transform: translateX(500px) rotate(360deg);
    border-radius: 50%;     */
}

@keyframes kongpop-anim {
    0% {        
        transform: translateX(0px) rotate(0deg);
    }

    50% {        
        transform: translateX(600px) scale(1) rotate(180deg);
        border-radius: 0;
    }

    100% {        
        transform: translateX(1200px) scale(1.5) rotate(360deg);
        background: darkgoldenrod;
        border-radius: 50%;
    }
}

@keyframes bouncing-ball {
    0% {
        transform: translate3d(0px 0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate3d(100px, 100px, 0px) rotate(180deg);
    }

    50% {
        transform: translate3d(200px, 0px, 0px) rotate(360deg);
    }

    75% {
        transform: translate3d(300px, 100px, 0px) rotate(540deg);
    }

    100% {
        transform: translate3d(400px, 0px, 0px) rotate(720deg);
    }
}

/* #canvas:hover .moving-circle {
    transform: translateX(500px) scale(1.5);
    background: rgb(208, 79, 79);
} */

.moving-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: yellowgreen;
    /* animation-name: bouncing-ball;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.47, 1.64, .41, .8);
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    /* transition: 1s 0.3s all cubic-bezier(.47,1.64,.41,.8); */
}

.bar {
    width: 100px;
    height: 100px;
    background: #7fffd4;
    background: linear-gradient(90deg, #7fffd4 0%, #7fffd4 100%);
    transition: 1s all cubic-bezier(.47, 1.64, .41, .8);
}

#canvas:hover .bar {
    width: 1000px;
    background: rgb(40, 245, 184);
    background: linear-gradient(90deg, #7fffd4 0%, #00C9FF 100%);
}

#cool-container {
    width: 100%;
    height: 80vh;
    background: rgb(24, 24, 59);
    display: flex;
    display: none;
}

.menu-item {
    background: rgb(255, 168, 70);
    flex-grow: 1;
    border: 1px white solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-80vh);
    cursor: pointer;
}

.menu-item h1 {
    font-size: 2em;
    font-weight: 800;
    color: white;
    text-shadow: rgb(65, 65, 65) 4px 4px 10px;
}

.flex-item1 {
    background-image: url(https://images.pexels.com/photos/1894350/pexels-photo-1894350.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s all cubic-bezier(.47, 1.64, .41, .8);
}

.flex-item2 {
    background-image: url(https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s 0.2s all cubic-bezier(.47, 1.64, .41, .8);
}

.flex-item3 {
    background-image: url(https://images.pexels.com/photos/2106216/pexels-photo-2106216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s 0.4s all cubic-bezier(.47, 1.64, .41, .8);
}


#cool-container:hover .menu-item {
    transform: translateY(0);
}

.menu-item:hover {
    flex-grow: 5;
}


@media screen and (max-width: 680px) {
    #cool-container {
        background: red;
    }
}